
<h2>Edit Employee Information</h2>
<h2> <%= @employee.name %></h2>

<div class="small-screen">
<form action="/employees/<%= @employee.id %>" method='POST'>
  <div class="form-text">
  	Edit Your Name: 
  
  <input type="text" name='employee[name]' value="<%= @employee.name %>">
	</div>
  <br>

  <input type="hidden" name="_method" value="PATCH">
  <input type="submit">
</form>

<form action="/employees/<%= @employee.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Employee">
</form>

</div>