<div class="form-text">
Employee Log-In
</div>

<form action="/employees/login" method='POST'>

	<label for="employee">Who are you?</label>
  <div class="drop_down">
	<select name="employee_id">
    <% @employees.each do |employee| %>
      <option value="<%= employee.id %>">
      	<%= employee.name %>
     	</option>
    <% end %>
  </select>
  </div>

	<label for="password">Password</label>
  <div class="text_box">
  <input type="password" name='password' >
  </div>

  <input type="submit">
</form>