<html>
<head>
	<title>My Restaurant</title>
</head>
<body>
	<h1>Totes Noods</h1>
	<ul>
  <li><a href="/foods">Menu</a></li>
  <li><a href="/foods/new">Create New Menu Item</a></li>
  <li><a href="/parties">Open Tables</a></li>
  <li><a href="/parties/new">New Table</a></li>
  <li><a href="/employees">Employees</a></li>
</ul>
	<%= yield %>
</body>
</html>