body {
  font-family: 'Inconsolata';
  	/*#nav {
  		width: 100%;
  		text-align: center;
  		margin: 0 auto;
  		padding: 0;
  		list-style: none;
  		font-weight: bold;
  		margin-bottom: 20px;
  		margin-top: 30px;
  
  			li {
  				display: inline;
  				text-align: center;
  				
  			}
  
  			a {
  				margin: 5px 10px 5px 10px;
  				text-decoration: none;
  				font-size: 20px;
  				color: #1d576d;
  				padding: 8px;
  				text-align: center;
  	
  			
  			}
  		}*/ }
  body h2 {
    font-size: 24px; }
  body .name h1 {
    font-size: 70px;
    margin-bottom: 8px;
    color: #41284f; }
  body .name h2 {
    font-size: 24px;
    margin-top: 8px; }
  body .name h3 {
    font-size: 26px;
    margin-top: 8px; }
  body nav {
    margin-top: 0; }
  body nav ul ul {
    display: none; }
  body nav ul li:hover > ul {
    display: block; }
  body nav ul {
    background: #8EABB6;
    background: linear-gradient(top, #4a788a 0%, #8EABB6 100%);
    background: -moz-linear-gradient(top, #4a788a 0%, #8EABB6 100%);
    background: -webkit-linear-gradient(top, #4a788a 0%, #8EABB6 100%);
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    padding: 0 8px;
    border-radius: 12px;
    list-style: none;
    position: relative;
    display: inline-table;
    margin-bottom: 40px; }
  body nav ul:after {
    content: "";
    clear: both;
    display: block; }
  body nav ul li {
    float: left; }
  body nav ul li:hover {
    background: #174557;
    background: linear-gradient(top, #33677b 0%, #174557 40%);
    background: -moz-linear-gradient(top, #33677b 0%, #174557 40%);
    background: -webkit-linear-gradient(top, #33677b 0%, #174557 40%); }
  body nav ul li:hover a {
    color: white; }
  body nav ul li a {
    display: block;
    padding: 12px 12px;
    color: black;
    text-decoration: none;
    font-size: 28px; }
  body nav ul ul {
    background: #174557;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%; }
  body nav ul ul li {
    float: none;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative; }
  body nav ul ul li a {
    padding: 15px 40px;
    color: white; }
  body nav ul ul li a:hover {
    background: #4b545f; }
  body #main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 60%;
    height: auto; }
  body .employee_id select {
    font-size: 18px; }
  body .password {
    font-size: 18px; }
  body .drop_down {
    display: inline; }
  body .drop_down select {
    background: #1D576D;
    color: white;
    width: 268px;
    padding: 5px;
    font-size: 24px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px; }
  body .text_box {
    margin-bottom: 20px; }
  body form {
    width: 50%; }
  body .form-text {
    font-size: 24px;
    color: #41284f;
    margin-bottom: 16px; }
  body .form-text h2 {
    font-size: 24px; }
  body .form-text p {
    font-size: 20px;
    margin: 0; }
  body form label {
    display: block;
    font-size: 32px; }
  body input[type='text'] {
    width: 200px;
    height: 34px;
    font-size: 18px;
    margin-bottom: 16px;
    display: block; }
  body .drop_down select {
    background: #1D576D;
    color: white;
    width: 268px;
    padding: 5px;
    font-size: 20px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    margin-bottom: 16px; }
  body form input[type='password'] {
    width: 200px;
    height: 32px;
    border: 2px solid #1D576D;
    border-radius: 12px; }
  body input[type='submit'] {
    width: 200px;
    height: 32px;
    padding: 0;
    background: #41284f;
    color: white;
    font-size: 18px;
    border: 2px;
    border-radius: 12px;
    text-align: center;
    vertical-align: 0;
    display: block;
    margin-bottom: 16px; }
  body input[type="integer"] {
    width: 200px;
    height: 34px;
    font-size: 18px;
    margin-bottom: 16px;
    display: block; }
  body form input + label {
    margin-top: 1em; }
  body a {
    text-decoration: none; }
  body .link {
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 40px; }
    body .link a {
      border: 2px solid #1d576d;
      border-radius: 12px;
      padding: 10px;
      color: #0e293a;
      font-weight: bold; }
  body .menu {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-bottom: 30px; }
  body .receipt {
    margin-bottom: 50px; }
  body footer {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px; }
    body footer h3 {
      font-size: 18px; }

@media only screen and (min-width: 1300px) {
  nav {
    width: 0 auto; } }
@media only screen and (max-width: 650px) {
  body {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20em; }

  input[type="text"] {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20em; } }
#nav a {
  float: none;
  display: block;
  width: 100%; }

@media print {
  body #main img {
    display: none; }

  nav {
    display: none; }

  p {
    font-size: 12px; }

  .link {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
