<label for="party">Table Number:</label>
<input id="party_table_number" name="party[table_number]" type="integer" value="<%= @party.table_number %>"><br>

<label for="party">Guests</label>
<input id="party_guests" name="party[guests]" type="text" value="<%= @party.guests %>"><br>

<label for="party">Paid?</label>
<input id="party_paid" name="party[paid]" type="boolean" value="<%= @party.paid %>"><br>

<select name="party[paid]">
    <option value="true">Yes</option>
    <option value="false">No</option>
</select>

<input type="submit" value="Submit">
</form>
