<h2>Add a new Food Item</h2>

<form action="/foods" method='POST'>
  Name: <input type="text" name='food[name]' ><br>
  Cuisine: <input type="text" name='food[cuisine]' ><br>
  Allergens: <input type="text" name='food[allergens]' ><br>
  Price: <input type="integer" name='food[price]' ><br>

  <input type="submit">
</form>


