
<div class="form-text">
<h2>Add a new Food Item</h2>
</div>
<% if @error_messages %>
  <ul>
    <% @error_messages.each do |error_name, error_message| %>
       <li class='error'><%= error_name.capitalize %>: <%= error_message[0] %></li>
    <% end %>
  </ul>
<% end %>

<div class="form-text">
<form action="/foods" method='POST'>
  Name: <input type="text" name='food[name]' ><br>
  Cuisine: <input type="text" name='food[cuisine]' ><br>
  Allergens: <input type="text" name='food[allergens]' ><br>
  Price: <input type="integer" name='food[price]' ><br>

  <input type="submit">
</form>
</div>


