
<h2>Table Number: <%=@party.table_number %></h2>
<h2>Server: <%=@party.employee.name %></h2>


<form action="/parties/<%= @party.id %>/checkout" method='POST'>
<div class="form-text">
	Tip 
</div>
	<input type="text" name='party[tips]' ><br>

	<input type="hidden" name="party[paid]" value="1">
	<input type="hidden" name="_method" value="PATCH">

	<input type="submit" value="Mark as PAID">
</form>