<div class="form-text">

<% @parties.each do |party| %>
	<h2><a href="/parties/<%= party.id %>">TABLE NUMBER:<%= party.table_number %></a></h2>
	<h2>Server: <%= party.employee.name %></h2>
	<p>Guests: <%= party.guests %></p>
	<p>Paid? 
		<% unless party.paid %>
			<p>Nöpe!</p>
			<% end %>
	<%end%>

</div>

	
