<h2>New Table</h2>
<form action="/parties" method='POST'>
	Table Number: <input type="text" name='party[table_number]' ><br>
  Guests: <input type="text" name='party[guests]' ><br>
  Paid: 
  <select name="party[paid]">
    <option value="true">Yes</option>
    <option value="false">No</option>
	</select>


<input type="submit">
</form>




