<div class="form-text">
<h2>New Table</h2>
</div>

<div class="drop_down">
<form action="/parties" method='POST'>

	Table Number: <select name="party[table_number]">
		<% index = 1  %>
		<% while index < 13 %>
			<option value="<%= index %>"><%= index %> 
			</option>
			<% index += 1 %>
		<% end %>
	</select>

</div>

<div class="form-text">
  Guests: 
</div>
 <input type="text" name='party[guests]' >

  <br>

<input type="submit">
</form>





