<h2>New Table</h2>
<form action="/parties" method='POST'>
	Table Number: <input type="text" name='party[table_number]' ><br>
  Guests: <input type="text" name='party[guests]' ><br>
 


<input type="submit">
</form>




